body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: grey;
    padding-left: 70px;
} 
.output {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 300px;
    height: 100px;
}
.button_container {
    display: flex;
    justify-content: center;
    background-color: grey;
}
.button_group {
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
.gas_buttons {
    flex-grow: 0;
    width: 100px;
    height: 150px;
    border-radius: 30px;
    background-color: yellow;
    border: 5px solid black;
    margin: 5px;
    font-weight: bold;
    font-size: 25px;
}

.gas_buttons:active {
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}
.light {
    width: 30px;
    height: 5px;
    border: solid;
    background-color: white;
    border-radius: 20px;
}
.price {
    font-family: 'Digital-7 Regular';
    border: solid;
    border: 2px solid black;
    border-top: 5px solid black;
    width: 50px;
    margin-bottom: 20px;

}
.diesel {
    background-color: green;
}
.btnContainer {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.buttonGroup {
    background-color: black;
    min-width: 175px;
    min-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btns {
    background-color: silver;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 0;
}
.alphabet {
    font-size: 7px;
}

footer {
    height: 50px;
    background-color: grey;
}

.fuelingBtn {
    font-size: 10px;
    width: 70px;
    background-color: red;
    border-radius: 50px;
}