body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}
/* top container */
.topContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
#interface {
    width: 300px;
    height: 150px;
    background-color: rgba(37, 33, 33, 0.747);
    margin: 10px;
    text-align: center;
    border: solid rgba(0, 0, 0, 0.493) 5px;
    border-bottom: solid rgba(0, 0, 0, 0.493) 2px;
    border-top: solid rgba(0, 0, 0, 0.493) 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;


}
.mainContainer {
    display: flex;
}
.containerBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
}
.mainSides {
    flex-grow: 1;
    background-color: black;
}


.gasButtonContainer {
    display: flex;
    justify-content: center;
    background-color: grey;
    margin: 10px;
}
.gasButtonGroup {
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
.gas_buttons {
    flex-grow: 0;
    width: 106px;
    height: 150px;
    border-radius: 30px;
    background-color: yellow;
    border: 5px solid black;
    margin: 5px;
    font-weight: bold;
    font-size: 25px;
}

.gas_buttons:active {
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}
.light {
    width: 30px;
    height: 5px;
    border: solid;
    background-color: white;
    border-radius: 20px;
}
#price87, #price89, #price93, #priceDiesel {
    border: solid;
    border: 2px solid black;
    border-top: 5px solid black;
    width: 50px;
    margin-bottom: 20px;
}
.diesel {
    background-color: green;
}

.keypadContainer {
    background-color: black;
    display: flex;
    width: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 20px;

}
.middle {
    display: flex;
}

.buttonGroup {
    flex-grow: 1;
    background-color: black;
    min-width: 175px;
    min-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btns {
    background-color: silver;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 0;
}
.alphabet {
    font-size: 7px;
}
header {
    height: 30px;
    background-color: black;
}
footer {
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.footerContainer {
    padding: 5px;
}

.fuelingBtn, .emergencyShutoff {
    font-size: 10px;
    width: 70px;
    height: 30px;
    background-color: red;
    border-radius: 50px;
}
.btnGroup {
    display: flex;
    margin: 10px;
}
