body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: grey;
}

#loginAndRegisterContainer, #loginAndReturn {
    display: flex;
}
table {
    background-color: white;
    border: 5px solid black;
}
  th {
    border: solid black;
  }
  td {
    border: solid black;
  }