body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

#loginAndRegisterContainer, #loginAndReturn {
    display: flex;
}
table {
    background-color: white;
    border: 5px solid black;
}
  th {
    border: solid black;
  }
  td {
    border: solid black;
  }
.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
input {
  width: 320px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}
button {
  width: 100px;
  background-color: green;
  height: 50px;
  border: solid grey;
  margin: 5px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
.buttonContainer {
  display: flex;
}